sudo: false
cache: pip
language: python
python:
  - "3.5"
  - "3.4"
  - "2.7"
install:
  # Setup of Git environment
  - git config --global user.email \<\>
  - git config --global user.name "Travis CI"

  # Setup of Python environment
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script: tox -e cover

after_success:
  - coveralls
